<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/img/logo/logo.png" type="image/x-icon" />
    <title>Bird Shop</title>

    <!-- Custom fonts for this template-->
    <link href="~/shop-vendor/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/shop-css/sb-seller-2.min.css" rel="stylesheet">
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a href="home" class="text-center my-xl-2"><img src="~/img/logo/logo.png" id="logo" width="55px" height="38px"></a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0"/>

            <!-- Nav Item - Quan ly don hang -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTasks"
                   aria-expanded="true" aria-controls="collapseTasks">
                    <i class="fas fa-list fa-list-alt"></i>
                    <span>Quản lý đơn hàng</span>
                </a>
                <div id="collapseTasks" class="collapse" aria-labelledby="headingTasks" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Đơn hàng</h6>
                        <a class="collapse-item" href="allOrder">Tất cả</a>
                        <a class="collapse-item" href="allOrder?type=process">Xử lý đơn hàng</a>
                        <a class="collapse-item" href="allOrder?type=status">Chi tiết vận chuyển</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider"/>

            <!-- Nav Item - Products Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducts"
                   aria-expanded="true" aria-controls="collapseProducts">
                    <i class="fa fa-cube"></i>
                    <span>Quản lý sản phẩm</span>
                </a>
                <div id="collapseProducts" class="collapse" aria-labelledby="headingProducts"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Danh sách sản phẩm</h6>
                        <a class="collapse-item" href="productSeller">Sản phẩm bạn phụ trách</a>
                        <a class="collapse-item" href="productSeller?type=outOfStock">Sản phẩm hết hàng</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider"/>

            <!-- Nav Item - Income -->
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseIncome" aria-expanded="true"
                   aria-controls="collapseIncome">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Tài chính</span>
                </a>
                <div class="collapse" id="collapseIncome" aria-labelledby="headingIncome"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Doanh thu: </h6>
                        <a href="selIncome" class="collapse-item">Doanh thu</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block"/>

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        @RenderBody()

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/shop-vendor/vendor/jquery/jquery.min.js"></script>
    <script src="~/shop-vendor/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/shop-vendor/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/shop-vendor//js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/shop-vendor/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/shop-vendor//js/demo/chart-area-demo.js"></script>
    <script src="~/shop-vendor//js/demo/chart-pie-demo.js"></script>

</body>
</html>