<a asp-page="/Products/Category" asp-route-categoryType="1" class="nav-item nav-link">Birds</a>
<div class="nav-item dropdown dropright">
    <a asp-page="/Products/Category" asp-route-categoryType="2" class="nav-link dropdown-toggle" data-toggle="dropdown">Cages <i class="fa fa-angle-right float-right mt-1"></i></a>
    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
        <a asp-page="/Products/Category" asp-route-category="2" asp-page-handler="ByCategory" class="dropdown-item">Finch &amp; Canary Cages</a>
        <a asp-page="/Products/Category" asp-route-category="3" asp-page-handler="ByCategory" class="dropdown-item">Conure Cages</a>
        <a asp-page="/Products/Category" asp-route-category="4" asp-page-handler="ByCategory" class="dropdown-item">Lovebird Cages</a>
        <a asp-page="/Products/Category" asp-route-category="5" asp-page-handler="ByCategory" class="dropdown-item">Parakeet Cages</a>
        <a asp-page="/Products/Category" asp-route-category="6" asp-page-handler="ByCategory" class="dropdown-item">Amazon Cages</a>
    </div>
</div>
<div class="nav-item dropdown dropright">
    <a asp-page="/Products/Category" asp-route-categoryType="3" class="nav-link dropdown-toggle" data-toggle="dropdown">Toys <i class="fa fa-angle-right float-right mt-1"></i></a>
    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
        <a asp-page="/Products/Category" asp-route-category="7" asp-page-handler="ByCategory" class="dropdown-item">Parrot Toys</a>
        <a asp-page="/Products/Category" asp-route-category="8" asp-page-handler="ByCategory" class="dropdown-item">Parakeet Toys</a>
        <a asp-page="/Products/Category" asp-route-category="9" asp-page-handler="ByCategory" class="dropdown-item">Finch &amp; Canary Toys</a>
        <a asp-page="/Products/Category" asp-route-category="10" asp-page-handler="ByCategory" class="dropdown-item">Lovebird Toys</a>
    </div>
</div>
<div class="nav-item dropdown dropright">
    <a asp-page="/Products/Category" asp-route-categoryType="4" class="nav-link dropdown-toggle" data-toggle="dropdown">Perches and Playstands <i class="fa fa-angle-right float-right mt-1"></i></a>
    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
        <a asp-page="/Products/Category" asp-route-category="11" asp-page-handler="ByCategory" class="dropdown-item">Parrot Perches</a>
        <a asp-page="/Products/Category" asp-route-category="12" asp-page-handler="ByCategory" class="dropdown-item">Conure Perches</a>
        <a asp-page="/Products/Category" asp-route-category="13" asp-page-handler="ByCategory" class="dropdown-item">Parakeet Perches</a>
        <a asp-page="/Products/Category" asp-route-category="14" asp-page-handler="ByCategory" class="dropdown-item">Finch &amp; Canary Perches</a>
    </div>
</div>
<div class="nav-item dropdown dropright">
    <a asp-page="/Products/Category" asp-route-categoryType="5" class="nav-link dropdown-toggle" data-toggle="dropdown">Foods <i class="fa fa-angle-right float-right mt-1"></i></a>
    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
        <a asp-page="/Products/Category" asp-route-category="15" asp-page-handler="ByCategory" class="dropdown-item">Parakeet Food</a>
        <a asp-page="/Products/Category" asp-route-category="16" asp-page-handler="ByCategory" class="dropdown-item">Cockatiel Food</a>
        <a asp-page="/Products/Category" asp-route-category="17" asp-page-handler="ByCategory" class="dropdown-item">Wild Bird Food</a>
        <a asp-page="/Products/Category" asp-route-category="18" asp-page-handler="ByCategory" class="dropdown-item">Canary &amp; Finch Food</a>
        <a asp-page="/Products/Category" asp-route-category="19" asp-page-handler="ByCategory" class="dropdown-item">Conure Food</a>
        <a asp-page="/Products/Category" asp-route-category="20" asp-page-handler="ByCategory" class="dropdown-item">Parrot &amp; Hookbill Food</a>
    </div>
</div>
<div class="nav-item dropdown dropright">
    <a asp-page="/Products/Category" asp-route-categoryType="21" class="nav-link dropdown-toggle" data-toggle="dropdown">Treats <i class="fa fa-angle-right float-right mt-1"></i></a>
    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
        <a asp-page="/Products/Category" asp-route-category="22" asp-page-handler="ByCategory" class="dropdown-item">Parakeet Treats</a>
        <a asp-page="/Products/Category" asp-route-category="23" asp-page-handler="ByCategory" class="dropdown-item">Lovebird Treats</a>
    </div>
</div>
<div class="nav-item dropdown dropright">
    <a asp-page="/Products/Category" asp-route-categoryType="7" class="nav-link dropdown-toggle" data-toggle="dropdown">Feeders <i class="fa fa-angle-right float-right mt-1"></i></a>
    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
        <a asp-page="/Products/Category" asp-route-category="24" asp-page-handler="ByCategory" class="dropdown-item">Parakeet Feeders</a>
        <a asp-page="/Products/Category" asp-route-category="25" asp-page-handler="ByCategory" class="dropdown-item">Lovebird Feeders</a>
    </div>
</div>