<div class="py-6 py-lg-12 pb-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="offset-lg-3 col-lg-6 col-md-12 col-12 text-center">
                <img src="~/img/empty-cart.png" alt="" class="img-fluid mb-4">
                <h2>Your shopping cart is empty</h2>
                <p class="mb-4">
                    Return to the store to add items for your delivery slot. Before proceed to checkout you must add some products to your shopping cart. You will find a lot of interesting products on our shop page.
                </p>
                <a asp-page="/Products/Index" class="btn btn-primary">Explore Products</a>
            </div>
        </div>
    </div>
</div>