@page
@using Microsoft.AspNetCore.Http
@model BirdTradingApp.Pages.Shops.Shared.CreateShopModel
@{
    HttpContext context = ViewContext.HttpContext;
    var role = context.Session.GetString("Role");
    var name = context.Session.GetString("Name");
    if (Model.Session == null)
    {
        Response.Redirect("/Login");
        return;
    }
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/img/logo/logo.png" type="image/x-icon" />
    <title>Bird Shop</title>

    <!-- Custom fonts for this template-->
    <link href="~/shop-vendor/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/shop-css/sb-seller-2.min.css" rel="stylesheet">
</head>
<body id="page-top">
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Title -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <p class="m-auto">Shop Channel</p>
                </div>
            </form>

            <!-- Topbar Navbar -->
                <div class="col-lg-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        @if (role is null)
                        {
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">My Account</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a asp-page="/Login/Index" class="dropdown-item btn btn-secondary">Sign in</a>
                                    <a asp-page="/Users/Register" class="dropdown-item btn btn-secondary">Sign up</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle text-decoration-none text-dark" data-toggle="dropdown">
                                    Welcome, @name
                                </a>
                                <div class="dropdown-menu bg-dark rounded-0 border-0 m-0">
                                    <a asp-page="/Users/Index" class="dropdown-item text-light">Profile</a>
                                    <a asp-page="/Shops/EditShop" class="dropdown-item text-light">Shop Profile</a>
                                    <a asp-page="/Login/Logout" class="dropdown-item text-light">Logout</a>
                                </div>
                            </div>
                        }

        </nav>
        <!-- End of Topbar -->
            <div style="text-align:center;" data-v-dfdc3446="" class="onboarding-welcome" page_id="3033"><img src="https://deo.shopeesz.com/shopee/pap-admin-live-sg/upload/upload_9dab85081088531ee6d1aa958a90f55e.png" alt="welcome" class="onboarding-welcome__img"> <h3 class="onboarding-welcome__title">Welcome to Bird Shop!</h3> <p class="onboarding-welcome__desc">To register to sell on BirdShop, you need to provide some basic information.</p></div>
            <form method="post">
            <div class="d-flex align-items-center justify-content-center pb-4">
                <button type="submit" class="btn btn-outline-danger" asp-page-handler="CreateNewShop">Register</button>
  
            </div>
            </form>
        </div>
</div>
<!-- End content wrapper -->
<!-- Bootstrap core JavaScript-->
<script src="~/shop-vendor/vendor/jquery/jquery.min.js"></script>
<script src="~/shop-vendor/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/shop-vendor/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/shop-vendor//js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="~/shop-vendor/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/shop-vendor//js/demo/chart-area-demo.js"></script>
<script src="~/shop-vendor//js/demo/chart-pie-demo.js"></script>
</body>
</html>