@page
@using Microsoft.AspNetCore.Http
@model BirdTradingApp.Pages.Shops.IndexModel
@{
    HttpContext context = ViewContext.HttpContext;
    var role = context.Session.GetString("Role");
    var name = context.Session.GetString("Name");
    if (string.IsNullOrEmpty(role) || role.Equals("Customer"))
    {
        Response.Redirect("/Login/Logout");
        return;
    }
}
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Title -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <p class="m-auto">Shop Channel</p>
                </div>
            </form>

            <!-- Topbar Navbar -->
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    @if (role is null)
                    {
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">My Account</button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a asp-page="/Login/Index" class="dropdown-item btn btn-secondary">Sign in</a>
                                <a asp-page="/Users/Register" class="dropdown-item btn btn-secondary">Sign up</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle text-decoration-none text-dark" data-toggle="dropdown">
                                Welcome, @name
                            </a>
                            <div class="dropdown-menu bg-dark rounded-0 border-0 m-0">
                                <a asp-page="/Users/Index" class="dropdown-item text-light">Profile</a>
                                <a asp-page="/Shops/EditShop" class="dropdown-item text-light">Shop Profile</a>
                                <a asp-page="/Login/Logout" class="dropdown-item text-light">Logout</a>
                            </div>
                        </div>
                    }


        </nav>
        <!-- End of Topbar -->
        <!-- Begin index content -->
        <div class="container col-lg-8 col-md-10">

            <div class="things-need-to-do-wrapper col-lg-12">
                <h4 class="things-title">
                    To Do List
                </h4>
                <h6 class="things-title">
                    Things you have to do
                </h6>
                <div class="things-to-do-content">
                    <div class="things-to-do-detail col-3 p-4 text-center d-inline-block">
                        <a asp-page="/Shops/WaitingConfirm">
                            <span class="status-counter"></span><br>Waiting Confirm
                        </a>
                    </div>
                    <div class="things-to-do-detail col-3 p-4 text-center d-inline-block">
                        <a asp-page="/Shops/WaitingForDelelivering">
                            <span class="status-counter"></span><br>Waiting For Delivery
                        </a>
                    </div>
                    <div class="things-to-do-detail col-3 p-4 text-center d-inline-block">
                        <a asp-page="/Shops/OnDelivering">
                            <span class="status-counter"></span><br>On Delivering
                        </a>
                    </div>
                    <div class="things-to-do-detail col-3 p-4 text-center d-inline-block">
                        <a asp-page="/Shops/CompetedOrder">
                            <span class="status-counter"></span><br>Competed Order
                        </a>
                    </div>
                    <div class="things-to-do-detail col-3 p-4 text-center d-inline-block">
                        <a asp-page="/Shops/CancelOrder">
                            <span class="status-counter"></span><br>Cancel Order
                        </a>
                    </div>


                </div>

            </div>



        </div>
        <!-- End index content -->
    </div>
</div>
<!-- End content wrapper -->